.TodoContainer {

    background-color:#213547;
    border-radius: 8px;
    display:flex;
    justify-content: space-between;
    align-items: center;

    min-width:420px;
    min-height:60px;

    padding: 10px 20px;
    gap:10px;
    margin-bottom:20px;
}
.ButtonContainer {
    display:flex;
    gap: 8px;
    align-items: center;
}
.EditField {
    padding:4px;
    text-align: center;
}